.mybox {
  width: 200px;
  border-radius: 10px;
  border: 1px solid purple;
}

.mybox02 {
  text-align: center;
}

input {
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  outline-color: blueviolet;
}

.bac01 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  background-color: blueviolet;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bac02 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  background-color: blueviolet;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bac02 div {
  width: auto;
  padding: 5px 25px;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
  background-color: rgb(240, 24, 96);
  cursor: pointer;
}

.bac02 div:hover {
  background-color: rgb(250, 86, 127);
}
