.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1552738 */
  src: url('//at.alicdn.com/t/font_1552738_q4rlw8l6o7.eot');
  src: url('//at.alicdn.com/t/font_1552738_q4rlw8l6o7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1552738_q4rlw8l6o7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1552738_q4rlw8l6o7.woff') format('woff'),
  url('//at.alicdn.com/t/font_1552738_q4rlw8l6o7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1552738_q4rlw8l6o7.svg#iconfont') format('svg');
}