.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1552738 */
  src: url('//at.alicdn.com/t/font_1552738_baaqi9qs7jq.eot');
  src: url('//at.alicdn.com/t/font_1552738_baaqi9qs7jq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1552738_baaqi9qs7jq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1552738_baaqi9qs7jq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1552738_baaqi9qs7jq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1552738_baaqi9qs7jq.svg#iconfont') format('svg');
}