header {
  position: fixed;
  /* 写了固定定位会丢失宽度，要写宽度 */
  width: 100%;
  top: 0px;
}

header>div {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

footer>div {
  display: flex;
  /* 把剩余元素均分space-around */
  justify-content: space-around;
  background-color: #ededed;
  padding: 0.5px 0px;
  border-top: 1px solid #dcdcdc;
}

.active-icon {
  /* 激活的图标 */
  color: #08c261;
}

/* 
新增选择器1 选择器2：表示选择器1中的选择器2元素
只要是里面的，不区分有多少级
例如 header div表示只有header 里面的div套用
和>号的区别就是：>号只影响第一级，空格是不分层级的
*/
footer .iconfont {
  font-size: 2rem;
}

/* 
fixed定位会遮挡住相邻的元素，所以需要预留空间给固定位置
*/

main {
  margin-top: 3rem;
  margin-bottom: 4rem;
  background-color: #ffffff;
}

main>div {
  display: flex;
}

.main-right {
  border-bottom: 1px solid #dcdcdc;
  flex: 1;
}

/* 左边的图标大小 */
.main-left {
  font-size: 3rem;
  border-bottom: 1px solid #dcdcdc;
}

/* 右边的每一行都是压力布局带分散对齐 */
.main-right>div {
  display: flex;
  justify-content: space-betwen;
  padding: 0.3rem;
}


/* 副文本样式 */
.second-text {
  font-size: 0.9em;
  color: #9E9E9E;
}

/* 发现页行 */
.line {
  display: flex;
}

.line .iconfont {
  font-size: 2rem;
}

/* 
  伪类：第一个子元素first-child
.line是class="line"
>表示里面的第一级
:first-child,第一个子元素
class="line"里面的第一个div
*/
.line>div:first-child {
  padding: 0.5rem;
  border-bottom: 1px solid #dcdcdc;
}

/* 伪类：第二个个子元素 */
.line>div:nth-child(2) {
  padding: 0.5rem;
  /* 行高(当行高大于字的高度，字会在垂直轴居中） */
  line-height: 2rem;
  font-size: 1rem;
  border-bottom: 1px solid #dcdcdc;
  /* flex填满压强 */
  flex: 1;
}

.line>div:last-child {
  padding: 0.5rem;
  /* 行高(当行高大于字的高度，字会在垂直轴居中） */
  line-height: 2rem;
  font-size: 1rem;
  border-bottom: 1px solid #dcdcdc;
}

.bj {
  padding: 0.2rem;
  background-color: #ededed;
  color: #9d9d9d;
}

.ys01 {
  flex: 1;
}